* {
  font-family: Arial;

}

header {
  background-color: #d3d3d3;
  padding: 10px;
  text-align: center;
}

nav {
  width: 960px;
  margin: 0 auto;
  display: inline-block;
}

header nav ul {
  margin: 0 auto;
}

nav ul li{
  margin: 0 2%;
  float: left;
  list-style-type: none;
  background-color: #e3d474;
  padding: 15px;
  border: .5px solid silver;
  border-radius: 10px;
}

main{
  font-family: sans-serif;
  width: 960px;
  margin: 0 auto;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: serif;
  color: salmon;
}

h1{
  font-size: 56px;
  text-align: center;
}
.featured_banner {
  display: inline-block;
  position: relative;
}

#items {
  margin: 20px auto;
}

.item {
  display: inline-block;
}

footer {
  background-color: #d3d3d3;
  padding: 10px;
  text-align: center;
  color: white;
  font-family: Georgia;
  letter-spacing: 2px;
  margin: 200px, 0px, 0px, 0px;
}
